body{
    margin: 0px;
    padding: 0px;
}



.body-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #dce4e9;
    flex-direction: column;
    width: 100%;
 
}

.Main-container{
    height: 50vh;
    width: 80%;
    background-color:rgb(248, 244, 244);
    border-radius: 30px;
    display: flex;
    flex-direction: row;

}
.box-1{
    height: 50vh;
    width: 50%;
    display: flex;
    align-items: start;  
    flex-direction: column;
    box-sizing: border-box;
    padding: 30px;
    gap: 40px;
    
}

.image{
    display: flex; 
    justify-content: center;

}
.image>img{
    height: 80px;
    width:  70px;
}
.Sing-In{ 
    display: flex;
    flex-direction: column;
}
.Sing-In>p{
    font-size: 25px;
}
.Sing-In>h1{
    font-size: 40px;
}
.box-2{
    height: 50vh;
    width: 50%; 
    display: flex; 
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.placeholder{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.placeholder>input{
    border-color: black;
    width: 290px;
    height: 50px;
    outline: none;
}

.msg>p{
padding-right: 190px;
cursor: pointer;
color: blue;

}
.text{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 45px;
}
.text>p1{
    font-size: 15px;
}
.text>p2{
    cursor: pointer;
    color: blue;
}
.button{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    justify-content: center;
    padding-top: 60px;
    padding-left: 90px;
}
.b1>button{
    color: blue;
    background-color: rgb(242, 242, 247); height: 40px;
    text-align: center;
    border-radius: 40px;
    border: none;
}

.b2>button{
    color: white;
    background-color: blue; width: 80px; height: 40px;
    text-align: center;
    border-radius: 40px;
    border: none;
}
.Language-Bar{

    height: auto;
    width: 50%;

}
.Ask{
  height: auto;
  width: 50%;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 10px;
}

.links{
    height: auto;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

/* responsive */

/* tablet */

@media screen and (max-width:868px ){


    .Main-container{
        flex-direction: column;
        
        width: 80%;
    }

    .links{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        height: 80px;
        width: 40%;
    }

    /* .box-1{
        height: 10vh;
    } */

    .placeholder>input{
        width: 250px;
    }
  

    .msg>p{
        padding-right: 0px;
    }

    /* .box-2{
        padding-left: 70px;
        height: auto;
    } */

    .Main-container{
        height: 85vh;
    }

}


/* mobiles */

@media screen and (max-width: 773px){
    .placeholder>input{
        width: 200px;
    }
}


@media screen and (max-width: 447px){
    .placeholder>input{
        width: 100px;
    }
}